$maincolor: green;

h1 {
	color: $maincolor;
}
body {
	background:url('images/logo.png') no-repeat;
}
header {
	background: black;
	padding: 30px;
	text-align: center;
	img {
		width: 150px;
		border-radius: 500px;
	}
}
@media all and (max-width: 35em) {
	.col-group {
		text-align: center;
	}
}
.twitter {
	text-align: center;
	margin: 0 auto;
	padding-top: 30px;
	max-width: 150px;
	box-shadow: 10px 10px 5px #888;
}

a {
  width: calc(50% - 2em);
  transition: transform 1s;
}
